

.navbar{
    width:  80% ;
    height: 15vh;
    display:  flex;
    align-items: center ;
    margin : auto ;
    position: relative;
    
}

.logo{
    flex-basis: 60%;
    padding-top: 70px;
    cursor : pointer;

}

.menu{
    padding-top: 50px;
    flex-basis: 80%;
    display: flex;
    align-items:  right;
    position: relative;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: auto;
    margin: 0 20px ;
    font-size: 30px ;
    cursor : pointer ;
}
.menu img{
    padding-left: 10px;
    width: 20px;
    margin: auto;
    cursor : pointer;
}
.menu span{
    
    font-size: 25px ;
    color: white;
}


.menu ul li button {
    
    font-family: "Roboto",sans-serif;
    text-transform :uppercase;
    outline: 0 ;
    background: #4CAF50;
    width: 100% ;
    border: 0 ;
    padding : 7px;
    color: #FFFFFF;
    font-size: 15px;
    cursor:pointer;
    
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(3.jpg);
    height:100vh;
    background-size:cover;
    background-position: center;
}
.logo img{
    padding-top:1px;
    width: 160px;
    height:100px;
    cursor : pointer;
}

h1{
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    color:aliceblue;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 50px;
    margin: auto;
    
}

.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background: white;
    width:30%;
    border: 10;
    margin:30 100 30px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 25px;
}

.form button {
    
    font-family: "Roboto",sans-serif;
    text-transform :uppercase;
    outline: 0;
    background: #4CAF50;
    width: 15% ;
    border: 0 ;
    margin:auto;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left:auto;
    color: #FFFFFF;
    font-size: 18px;
    cursor:pointer;
    
}

h2{
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    color: white ;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 50px;
    margin: auto;
}

.Specialities img{
    flex-basis: 5%;
    width:200px;
    height:180px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
    cursor : pointer;
    
}

.cart img {
    padding-top: 20px;
}














